aiohttp==3.9.3
aiosignal==1.3.1
alluka==0.1.4
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
colorlog==6.8.2
frozenlist==1.4.1
hikari==2.0.0.dev126
hikari-arc==1.2.1
hikari-miru==4.1.1
idna==3.6
loguru==0.7.2
modrinth-py @ https://github.com/KalebSchmidlkofer/modrinth.py/releases/download/0.0.1/modrinth_py-0.0.1-py3-none-any.whl#sha256=c7c45789c8cd185324dec706260365023938a4b81e58c67d705c137e1e03e829
multidict==6.0.5
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.2.1
uvloop==0.19.0
yarl==1.9.4
